<body class="text-center">
  <div class="row col-5">
    <div class="shadow-lg">
      <div class="card">
        <img class="propImage" src="assets/images/forSale_default.png" alt="">
        <div class="card-body p-2">
          <h1>{{Property.Name}}</h1>
          <h2>{{Property.Type}}</h2>
          <h3>{{Property.Price}}</h3>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- https://www.youtube.com/watch?v=gj6f-asv3wM&list=PL_NVFNExoAxclqXo9fLAeP0G2Qp56Fu8C&index=6&ab_channel=StudyMash -->
